-# This code represents an account setting form for editing user account information.
-# Created by Team 29

.space
  .settings-heading
    %h2
      Edit #{resource_name.to_s.humanize} Account Settings

    %p
      Below you can alter your #{resource_name.to_s.humanize} account settings. This includes changing your password, updating your WP status
      or deleting this currently logged in account from our records permanently.
  = render "devise/shared/error_messages", resource: resource
  
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

    .field
      = f.label :email
      %br
      = f.email_field :email, autofocus: true, autocomplete: "email"

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    .field
      = f.label :password
      %i (Leave blank if you don't want to change it)
      %br
      = f.password_field :password, autocomplete: "new-password"
      - if @minimum_password_length
        %br
        %em
          #{@minimum_password_length} characters minimum

    .field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, autocomplete: "new-password"

    .field
      = f.label :current_password
      %i (We need your current password to confirm your changes)
      %br
      = f.password_field :current_password, autocomplete: "current-password"

    #wp.field
      = f.label :is_wp_student, "I am a WP student"
      = f.check_box :is_wp_student

    .actions
      = f.submit "Update Info"

  .cancel
    %h3
      Cancel my account
    #text
      Unhappy with our service? Cancel your account permanently by pressing the button below.
    #buttons
      = button_to "Cancel my account", registration_path(resource_name), id: "cancel-account-button", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete
      
  #return
    = link_to "Return to Previous page", :back